<header class="flex justify-center items-center my-4 w-4/5 min-h-[4rem] rounded-2xl border border-solid border-[#262626] text-white hover:bg-[#111111]">
    <h1 class="text-2xl">PDF Decryptor</h1>
</header>
<main class="flex grow flex-col justify-around items-center w-4/5 h-[90%] mb-4 p-4 rounded-2xl border border-solid border-[#262626] text-white hover:bg-[#111111]">
    <div class="flex flex-col justify-around items-center h-[32rem] sm:h-[36rem]">
        <div class="flex flex-col items-center">
            <p class="text-3xl sm:text-5xl mb-4">Simple</p>
            <p class="text-3xl sm:text-5xl mb-4">&</p>
            <p class="text-2xl sm:text-4xl text-[#999999]">Free forever</p>
        </div>
        <ol class="list-decimal text-xl sm:text-2xl pl-[37.14px]">
            <li>Choose file</li>
            <li>Type password</li>
            <li>Decrypt</li>
        </ol>
        <form [formGroup]="form" (ngSubmit)="decrypt()" novalidate enctype="multipart/form-data" class="flex flex-col items-center">
            <input type="file" formControlName="file" (change)="onChange($event)" class="mb-4 w-4/5 sm:w-96 border border-solid border-[#262626] rounded-2xl" name="file" required>
            <input type="password" formControlName="password" class="mb-4 w-4/5 sm:w-96 h-8 text-black border border-solid border-[#262626] text-center rounded-2xl error" name="password" placeholder="PDF password here" required>
            <button type="submit" class="w-36 h-10 sm:h-12 text-lg sm:text-xl rounded-3xl border border-solid border-[#262626] {{ form.valid ? 'hover:bg-[#222222]' : '' }}" [disabled]="!form.valid">Decrypt</button>
        </form>
        <div class="text-lg">As simple as that</div>
    </div>
    <a class="w-fit mb-4" href="https://www.producthunt.com/posts/pdf-decryptor?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-pdf&#0045;decryptor" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=371592&theme=dark" alt="PDF&#0032;Decryptor - Create&#0032;passwordless&#0032;copies&#0032;of&#0032;protected&#0032;PDFs&#0032;for&#0032;FREE&#0046; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
</main>
<footer class="flex justify-center items-center mb-4 w-4/5 min-h-[4rem] rounded-2xl border border-solid border-[#262626] text-white hover:bg-[#111111]">
    <div class="ml-auto mr-[-2.5rem]">{{ year }}</div>
    <a href="https://github.com/kovrichard/pdf-decryptor-frontend" target="_blank" class="ml-auto mr-4">
        <img src="/assets/github.svg" />
    </a>
</footer>
